*{
  background-color: #e1dddd;
  color: black;


}
h1,h2{
  text-align: center;
}

.property-list {
  display: flex;
  gap: 16px;
  padding: 20px;
  flex-wrap: wrap;
}

.property-card {
  width: 300px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 12px;
  border-radius: 8px;
}

.property-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .property-list {
    flex-direction: column;
  }
}